{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | UOCHub</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <nav class="sidebar">
        <img class="avatar" src="{% static 'icons/user-dummy-pfp.svg' %}" alt="Profile picture">
        <a href="{% url 'home' %}"><img class="nav-icon" src="{% static 'icons/home.svg' %}" alt=""> Home</a>
        <a href="{% url 'profile' %}"><img class="nav-icon" src="{% static 'icons/profile.svg' %}" alt=""> Profile</a>
        <a href="{% url 'campus-map' %}"><img class="nav-icon" src="{% static 'icons/campus-map.svg' %}" alt=""> Campus Map</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
