{% extends "core/base.html" %}
{% load static %}

{% block content %}
<a class="back-link" href="{% url 'study-spaces' %}">Back to Study Spaces</a>
<h1 class="page-title">
    <img class="page-icon" src="{% static 'icons/study-spaces.svg' %}" alt="">
    Book {{ space.name }}
</h1>
<p>
    {{ space.building.name }} :
    Open {{ space.opening_time|time:"H:i" }}-{{ space.closing_time|time:"H:i" }}
</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Book</button>
</form>
{% endblock %}
